<h1 mat-dialog-title>Add new product</h1>
<div mat-dialog-content>
  <div class="example-container">
    <form [formGroup]="form">
      <p>
        <mat-form-field>
          <input matInput placeholder="Prodcut name" formControlName="name" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Quantity" formControlName="quantity" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price" />
        </mat-form-field>
      </p>
    </form>
  </div>
</div>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="doSave()">
    Save
  </button>
</mat-dialog-actions>
